
div.Offersimg img {

    width: 100%;
    height: auto;
}

div.Offersdesc {
    padding: 15px;
    text-align: center;
    background: linear-gradient(#fdb914, #e98536), #f5a422;
    color: black;
    font-size: 14pt;

}
