
<div ng-controller="filmController as ctrl">

    <h1 style="color: white; text-align: center">View All Films</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table FilmTable table-hover">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                    </tr>
                    <tr ng-repeat="film in ctrl.films">
                        <td>{{film.title}}</td>
                        <td>{{film.description}}</td>
                    </tr>
                </table>
        </div>
    </div>
</div>


    <div class="container">
        <div class="row" style="border-radius: 0 !important;">
            <div class="col-md-12">

                <div class="col-md-3">
                    <div ng-repeat="film in ctrl.films" class="well">
                            <td>{{film.title}}</td>
                            <td>{{film.description}}</td>
                        </div>
                    <a href="/films/logan"><span class="title">Logan</span></a>
                </div>

            </div>
        </div>
    </div>
    <hr>

</div>
