<div ng-controller="filmsController as ctrl">

    <h1 style="color: white; text-align: center">Films</h1>
    <h3 style="color: white; text-align: center" id="venuePlace"></h3>
    <h5 id="venueMessage"></h5>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <div ng-repeat="(key, value) in ctrl.filmsByVenueAndDate">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-5">
                        <img ui-sref="singleFilm({film_ID: {{ctrl.convertKeyToJSON(key).movie_ID}}})" ng-src="{{ctrl.currentMovie.filmImg}}" width="250" height="250">
                    </div>
                    <div class="col-md-5 col-md-offset-1">
                        <h3 ui-sref="singleFilm({film_ID: {{ctrl.currentMovie.movie_ID}}})" style="color: white; cursor: pointer;"><b><a>{{ctrl.currentMovie.title}}</a></b></h3>
                        <h4 style="color: white">Running Time : {{ctrl.currentMovie.duration}}</h4>
                        <br>
                        <h5 style="color: white">{{ctrl.currentMovie.description}}</h5>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="btn-group" style="display: inline-flex;">
                        <div ng-repeat="v in value">
                            <button ng-click="ctrl.showSeatChooser(v)" type="button" class="btn btn-warning btn-xs">
                                {{ctrl.trimTime(v.startTime)}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </div>
    </div>

    <div id="seatChooser">
        <p style="color: black; float: right;" id="seatsRemaining"></p>
        <label>Number Of Seats:
            <input type="number" ng-model="ctrl.requestedNumberOfSeats" min="0">
        </label>
    </div>

</div>