.button {
    border-radius: 4px;
    background: linear-gradient(#fdb914, #e98536), #f5a422;

    border: none;
    color: black;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px auto;

}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
.col-sm-4{
    background-color: #082753;
    align-content: center;

}
.row2{
    width: 111%;

}
.dropdown-menu{
    width: 100%;
    align-content: center;
    align-items: center;
    align-self: center;

}
.col-md-3{
    width: 33.33333333%;
}
.btn{

    padding: 10px;
    font-size: 20px;
    margin: 5px;

}
.pls-work {
    width: 33%;
}
.pls-work-2 {
    width: 100%;
}
.select {
    width: 100%;
    font-size: 20px;
    color: black;
    padding : 10px;
    margin: 5px auto;
}
.select2 {
    width : 100%;
    color: black;
    font-size: 17px;
    padding : 10px;
    margin: 5px auto;
}
.carouselDescriptions {
    font-size: 20px;
}
