.item{
    align-content: center;
}
body {
    font-family: 'Abel', sans-serif;
    margin: 0px;
    padding: 0px;
}
.headert {
    margin: 0px;
    padding: 0px;

}

.headerimg {
    margin: 0px;
}
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}
/* expanding input CSS only */
#myInput		{
    width:130px;
    -webkit-transition:width 0.3s ease-in-out;
}
#myInput:focus	{
    width:300%;
    -webkit-transition:width 0.5s ease-in-out;
}
.col-md-3{
    width: 33.33333333%;
}