<!--
<div ng-controller="venueController as ctrl">

    <div class = "addresslist" ng-repeat="place in ctrl.venues">
        <div class = "col-sm-12">
            <div class="col-sm-4"></div>
        <div class = "col-sm-3">

        <h1>{{place.name}}</h1>
        {{place.address.firstLine}}<br>
        {{place.address.secondLine}}<br>
        {{place.address.townOrCity}}<br>
        {{place.address.county}}<br>
        {{place.address.postcode}}
        </div>

        <div class = "col-sm-3" >
           <img class="contactImg" src="{{place.venueImg}}">

        </div>
            <div class="col-sm-2"></div>

    </div>
</div>
</div>
-->
<div  class="container" ng-controller="venueController as ctrl2">
<div ng-repeat="place in ctrl2.venues " class="col-sm-4">
    <a class="list-quotes" href="">
        <!-- Recommended size 360X360 -->
        <img class='img-responsive' alt="img" src="{{place.venueImg}}">
        <div class="quotes">
            <h1>{{place.name}}</h1>
            <p >
                {{place.address.firstLine}} <br>
                {{place.address.secondLine}}<br>
                {{place.address.townOrCity}}<br>
                {{place.address.postcode}}  <span></span>
            </p>
        </div>
    </a>
</div>
</div>
